name: ci

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        module:
          - cdn
          - certificate
          - cognito
          - ecr
          - ecs
          - kms-key
          - nat
          - rds
          - secrets
          - vpc
      fail-fast: false
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: |
            ${{ matrix.module }}/.terraform/**/*
            ${{ matrix.module }}/.terraform.lock.hcl
          key: ${{ runner.os }}-${{ matrix.module }}-terraform-${{ hashFiles('./${{ matrix.module }}/*.tf') }}

      - name: initialize ${{ matrix.module }} module
        run: |
          cd ${{ matrix.module }}
          terraform init

      - name: validate ${{ matrix.module }} module
        run: |
          cd ${{ matrix.module }}
          terraform validate

      - name: lint formatting of ${{ matrix.module }} module
        run: |
          cd ${{ matrix.module }}
          terraform fmt
          CHANGES=$(git diff)
          echo "$CHANGES"
          if [[ -z "$CHANGES" ]]; then exit 0; else exit 1; fi
