name: ci

on: [push]

jobs:
  test:
    strategy:
      matrix:
        module:
          - certificate
          - cloudflare
          - cognito
          - ecr
          - ecs
          - elasticache
          - iam/iam-for-deploy-bot
          - iam/iam-for-humans
          - iam/iam-policy-for-taggable-resources
          - kms-key
          - kms-key-replica
          - nat
          - rds
          - s3
          - s3-private
          - s3-public
          - secrets
          - stack/app
          - stack/setup
          - vpc
          - vpc-peering
          - vpn
      fail-fast: false
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - uses: actions/checkout@v2

      - name: init
        run: |
          cd ${{ matrix.module }}
          terraform init

      - name: validate
        run: |
          cd ${{ matrix.module }}
          # the stack/app module must have a provider block because the sub-module "vpc-peering" requires a non-standard "provider
          # see: https://github.com/hashicorp/terraform/issues/28490
          if [[ "${{ matrix.module }}" == "stack/app" ]]; then echo "provider \"aws\" { alias = \"peer\" }" >> vpc-peering.tf; fi
          if [[ "${{ matrix.module }}" == "vpc-peering" ]]; then echo "provider \"aws\" { alias = \"peer\" }" >> main.tf; fi
          terraform validate

      - name: fmt -check
        run: |
          cd ${{ matrix.module }}
          terraform fmt -check
